@import url('https://fonts.googleapis.com/css?family=Oxygen');

footer{
  color: whitesmoke;
  background-color: black;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.title{
  font-family: Oxygen;
  font-size: 16px;
}

.socialMediaLinks{
  max-width: 300px;
  margin: 0 auto;
  font-size: 22px;
}

.contactLink{
  color:whitesmoke;
  margin: 7px;
}

.contactLink:hover{
  transition: 0.5s;
  color: #3A3A3A;
}
