@import url('https://fonts.googleapis.com/css?family=Oxygen|Megrim');

.Home{
  max-width:800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.Home-flex{
  display: flex;
  flex-direction: column;
}

.name{
  max-width: 400px;
  margin-right: auto;
  margin-left: 5%;
  margin-bottom: 0;
  font-family: megrim;
  font-size: 5.0vh;
  font-weight: bold;
  text-decoration: underline;
}

.description{
  max-width: 500px;
  margin-right: auto;
  margin-left: 5%;
  text-align: left;
  line-height: 1.2em;
  font-size: 3.0vh;
  color: #444445;
  font-weight: lighter;
}

br{
  margin:2.5em 0;
  line-height:2em;
}

.Ayman{
  margin-top:40px;
  margin-left:40px;
  max-height: 50vh;
}

@media (max-width:500px){
  .Ayman{
    margin-left: 20px;
    margin-right: 10px;
  }
  .name{
    font-size: 4.0vh;
  }
  .description{
    font-size: 2.5vh;
  }
}
