@import url('https://fonts.googleapis.com/css?family=Oxygen');

  .description-title{
    font-size: calc(1vw + 1vh + 1vmin);
    font-family: Oxygen;
    color: #444445;
    font-weight: lighter;
  }

  .reactProjects{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .image-container{
    display: flex;
    justify-content: center;
    width: 75vh;
    height:38vh;
  }

  .responsive{
    margin:10px;
    width: 75vh;
    height:38vh;
  }

  .otherProjects{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .overlay{
    position: absolute;
    width: 75vh;
    height:38vh;
    -webkit-transform: translate(0px, 10px);
    -ms-transform:translate(0px, 10px);
    background-color: rgba(0,0,0,1);
    transition: .5s ease;
    opacity: 0;
    font-family: Oxygen;
    z-index: 2;
    overflow: hidden;
  }

  .overlay-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: calc(1.25vw + 0.5vh + 1vmin);
  }

  .overlay-description{
    font-size: calc(1.25vw + 0.5vh + 1vmin);
  }

  .image-container:hover .overlay{
    opacity: 0.9;
  }

  .project-panel-buttons{
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
  }
  .button{
    text-decoration: none;
    border: 1px solid white;
    padding:10px;
    margin: 2vh;
    color:white;
    font-size: calc(1.25vw + 0.5vh + 1vmin);
  }

  .website:hover{
    background-color: rgba(0,16,55,1);
    transition: .5s ease;
  }

  .github:hover{
    background-color: rgba(55,0,0,1);
    transition: .5s ease;
  }

  @media (max-width:500px){
    .responsive{
      width: 40vh;
      height: 20vh;
    }
    .overlay{
      width: 40vh;
      height: 20vh;
    }
  };

  .image-container{
    display: -webkit-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .responsive{
    margin:10px;
    width: 75vh;
    height:38vh;
  }

  .otherProjects{
    display: -webkit-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .overlay{
    position: absolute;
    width: 75vh;
    height:38vh;
    -webkit-transform: translate(0px, 10px);
    -ms-transform:translate(0px, 10px);
    background-color: rgba(0,0,0,1);
    -webkit-transition: .5s ease;
    transition: .5s ease;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    font-family: Oxygen;
    z-index: 2;
  }

  .overlay-panel{
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    font-size: calc(1.25vw + 0.5vh + 1vmin);
  }

  .overlay-description{
    font-size: calc(1.25vw + 0.5vh + 1vmin);
  }

  .image-container:hover .overlay{
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  }

  .project-panel-s{
    display: -webkit-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .button{
    text-decoration: none;
    border: 1px solid white;
    padding:10px;
    margin: 2vh;
    color:white;
    font-size: calc(1.25vw + 0.5vh + 1vmin);
  }

  .website:hover{
    background-color: rgba(0,16,55,1);
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }

  .github:hover{
    background-color: rgba(55,0,0,1);
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }

  @media (max-width:500px){
    .responsive{
      width: 40vh;
      height: 20vh;
    }
    .overlay{
      width: 40vh;
      height: 20vh;
    }
  };
