@import url('https://fonts.googleapis.com/css?family=Oxygen');

.description-title{
  font-size: 1.5vw;
  font-family: Oxygen;
  color: #444445;
  font-weight: lighter;
}

.reactProjects{
  display:flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.image-container{
  display: flex;
  justify-content: center;
}

.responsive{
  margin:10px;
  width: 75vh;
  height:38vh;
}

.otherProjects{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.overlay{
  position: absolute;
  width: 75vh;
  height:38vh;
  transform: translate(0px, 10px);
  background-color: rgba(0,0,0,1);
  transition: .5s ease;
  opacity: 0;
  font-family: Oxygen;
}

.overlay-panel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 2vw;
}

.overlay-description{
  font-size: 1.5vw;
}

.image-container:hover .overlay{
  opacity: 0.9;
}

.project-panel-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.button{
  text-decoration: none;
  border: 1px solid white;
  padding:10px;
  margin: 2vh;
  color:white;
  font-size: 1vw;
}

.website:hover{
  background-color: rgba(0,16,55,1);
  transition: .5s ease;
}

.github:hover{
  background-color: rgba(55,0,0,1);
  transition: .5s ease;
}

@media (max-width:500px){
  .responsive{
    width: 40vh;
    height: 20vh;
  }
  .overlay{
    width: 40vh;
    height: 20vh;
  }
};
