@import url('https://fonts.googleapis.com/css?family=Oxygen');

.description-title{
  font-size: 1.5vw;
  font-family: Oxygen;
  color: #444445;
  font-weight: lighter;
}

.iconGrid{
  max-width: 1000px;
  margin:0 auto;
  display:grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
}

.Icon{
  color: #444445;
  transition: 0.5s;
}

.IconSize{
  font-size: 5vw;
  margin:1vw;
}

.IconName{
  font-size: 1.5vw;
  font-family: Oxygen;
}
